input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill {
    -webkit-text-fill-color: #fff;
}
input:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff;
}

.input-field input[type=text]:focus {
 border-bottom: 1px solid #ff9800 !important;
 box-shadow: 0 1px 0 0 #ff9800 !important;
}
.card-title {
	font-weight:100 !important;
	font-size:14px !important;
	text-shadow:1px 1px 0px rgba(0,0,0,.5);
}
.to-lower {
	text-transform: lowercase !important;
}
.nsfw {
	padding:5px;
	font-weight:bold;
	letter-spacing:5px;
}